@font-face {
    font-family: Rowan;
    src: url("Rowan-Bold.otf");
}

body{
    background: black;
    font-family: Rowan;
    overflow-x: hidden;
}

h1{
    position: absolute;
    top:30%;
    left:10%;
    transform: translateY(-50%);
    color:white;
    font-size: 6vw;
}

#query{
    position: absolute;
    top:50%;
    left:10%;
    width:100%;
}

#response{
    width:75%;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    color: white;

}

#submitButton {
    padding:5px 15px;
    background:none;
    color:white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: underline;
}

.example2 {
    height: 50px;
    overflow: hidden;
    position: relative;
    color:white;
}
.example2 h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
    /* Apply animation to this element */
    -moz-animation: example2 15s linear infinite;
    -webkit-animation: example2 15s linear infinite;
    animation: example2 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example2 {
    0%   { -moz-transform: translateX(-100%); }
    100% { -moz-transform: translateX(100%); }
}
@-webkit-keyframes example2 {
    0%   { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(100%); }
}
@keyframes example2 {
    0%   {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
    }
}

#down_arrow{
    color:white;
    position: absolute;
    font-size: 4vw;
    top:95%;
    left:50%;
    transform: translate(-50%,-50%);
}

#instructions{
    color:white;
    margin:5vw;
    position: absolute;
    top:105%;
    width:50%;
}

.instructionsTitle{
    font-size: 4vw;
}

#instructions p{
    font-size:2vw;
}

a{
    color:white;
}