@font-face {
    font-family: Rowan-Bold;
    src: url("Rowan-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: Rowan;
    src: url("Rowan-Regular.otf");
    font-weight: normal;
}

body{
    background: black;
    font-family: Rowan, serif;
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;

}

h1{
    font-family: Rowan-Bold, serif;
    position: absolute;
    top:25%;
    left:10%;
    transform: translateY(-50%);
    color:white;
    font-size: 6vw;
}

#query{
    position: absolute;
    top:50%;
    left:10%;
    width:100%;
}

#response{
    width:75%;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    color: white;

}

#submitButton {
    padding:5px 15px;
    background:none;
    color:white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: underline;
}

.example2 {
    height: 50px;
    overflow: hidden;
    position: relative;
    color:white;
}
.example2 h3 {
    position: absolute;
    font-family: Rowan-Bold, serif;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: example2 15s linear infinite;
    -webkit-animation: example2 15s linear infinite;
    animation: example2 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example2 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example2 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes example2 {
    0%   {
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
}

#down_arrow{
    color:white;
    position: absolute;
    font-size: 4vw;
    top:95%;
    left:50%;
    transform: translate(-50%,-50%);
}

#instructions{
    color:white;
    margin:5vw;
    position: absolute;
    top:105%;
    width:50%;
}

.instructionsTitle{
    font-size: 4vw;
    font-family: Rowan-Bold, serif;
}

#instructions p{
    font-size:2vw;
}

a{
    color:white;
}

#myBtn{
    padding-bottom: 10vh;
    text-decoration: underline;
    cursor:pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#deilogo{
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

#twitButton{
    position: absolute;
    top:70%;
    right:10%;
    width:10%;
}

h2{
    font-family: Rowan-Bold, serif;
}